.cro-cta-changes {
    padding: 9px 32px 9px 32px;
    border-radius: 6px;
}

.cta-white {
    color: white !important;
    background: black;
}

.cta-white:hover {
    color: white !important;
}

.cta-red {
    color: black !important;
    background: white;
}

.cta-red:hover {
    color: black !important;
}

.cro-hidden {
    display: none;
}

/*mobile styles*/
@media only screen and (max-width: 800px) {
    .cro-cta-changes {
        padding: 9px 24px 9px 24px;
        width: 100%;
        justify-content: center;
    }
}