.vt682Border ::after {
    border-color: transparent !important;
}

.vt682Border>div>div>div>div {
    padding: 0px !important;
}

.vt682-content {
    font-size: smaller;
}

.vt682-content>p:nth-child(2) {
    font-weight: 100;
    margin-top: 10px;
}

.vt682-content-link {
    margin-left: 5px;
}